body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.6;
    width: 100%;
    display: grid;
    grid-template-columns: 1em auto 1em;
    grid-template-areas:
        ". header ."
        ". article-main ."
        ". recent-posts ."
        ". articles ."
        ". view-more-button ."
        "footer footer footer";
       
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1em 1.1em auto auto auto auto 1em;
    grid-template-areas: ". icon title title home about .";
    min-width: 577px;
}

.article-title {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    margin-top: 0.5625em;
    margin-bottom: 0.5625em;
}
.article-main {
    margin-top: 2em;
    grid-area: article-main;
    
}
p, h2 {
    margin: 0;
}
.recent-posts {
    grid-area: recent-posts;
    margin: 3.1875em auto 0;
    
}
.articles {
    display: grid;
    grid-area: articles;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;  
}
.article-listing {
    display: grid;
}

h1 {
    font-family: 'Roboto', sans-serif;
}


.home,  .about {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: capitalize;
    margin: 1em 0 auto auto;
    height: 1fr;
    padding: 0;
}
.icon {
    margin: 1em auto;
    grid-area: icon;
    font-size: 1.1rem;
}
.title {
    margin: 1em auto auto 0.5em;
    grid-area: title;
    font-size: 1.1rem;
}

.home {
    grid-area: home;
}
.about {
    grid-area: about;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.article-image {
    margin-top: 2.1875em;
    margin-bottom: 0.875em;
    width: 100%;
}

.view-more-button {
    grid-area: view-more-button;
    margin: 1.6875em auto 2.6875em;
    padding: 0;
    text-decoration: underline;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 1em;    
}
footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: #202020;
    width: 100vw;
    margin-top: 3.5em;
    margin-bottom: 0 auto;
}
.my-learning-journal {
    color:#ECECEC;
    margin: 2.3125em auto 0;
    padding: 0;
}
.copyright {
    color: #D7D7D7;
    margin: 0 auto 2.3125em;
    padding: 0;
}
